* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

#chicken {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

.explosion {
  position: absolute;
  width: 600px;
  height: 600px;
  pointer-events: none;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: pop 1s reverse forwards;
}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}
